<div layout="row" layout-wrap>

  <div  class="sample-size" layout="column" flex="100"
        flex-gt-sm="50" flex-gt-md="65"
        ng-controller="SampleSizeController as sampleSizeCtrl">
    <div class="blurb-box general md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg md-hue-1">
        <div class="title">Sample Size and Population Size</div>
      </header>

      <div class="content">
        <p>It is usually not possible to ask <em>everyone</em> in a
          large group for their opinion on an issue.  But what If we did?
          If we gathered up everyone, and asked them for their opinion on an issue,
          then we would pretty much know the exact statistical
          make-up of the entire <strong>population</strong>.  We would not be mistaken,
          since we did not leave anyone out.
        </p>
        <p>
          But, since it's not easy to poll
          an entire population, we try to find ways to get a reasonably good
          guess about the entire group from merely polling a portion of them.
          This piece of the population that actually gets polled is called
          the <strong>sample</strong>.
          One goal of the scientists who make polls is then to get the most
          accurate information about a population without needing to poll
          an impractically large sample of the population.
        </p>
      </div>
    </div>

    <div class="blurb-box general md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg md-hue-1">
        <div class="title">How big is big enough?</div>
      </header>

      <div class="content">
        <p>
          If we only poll a subset of a population, there is a chance
          that we missed some crucial information.  This means that our
          poll could be wrong  -- but it could also be right.  How should we
          minimize the chance for error?
        </p>
        <p>
          One obvious answer is just to <em>increase the sample size!</em>
          But then we need to ask ourselves: how much is good enough?
          It costs time and money to poll people, and so we need to strike
          a balance between the cost of sampling a large amount of people
          and the better accuracy with our poll results.
        </p>
        <p>
          This balance is a very important question, and it has been subject
          to a whole field of research. Today, scientists have reached a
          general consensus on the issue over how large a sample size
          needs to be in order to be a reasonably good representation of the
          population.  We will get to their conclusions soon, but first
          how about you take a guess?
        </p>
      </div>
    </div>

    <div layout="row" layout-align="center center">
      <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="75">

        <!-- Front -->
        <ms-widget-front class="white-bg">
          <div class="p-16 pb-8 deep-purple-bg white-fg" layout="row" layout-align="space-between center">
            <div class="md-title">
              How big a sample size is big enough?
            </div>
          </div>

          <div class="md-body-1 p-16 pb-8" layout="column" layout-align="space-between" flex>
            <div id="size-question-1">
              <div class="content" layout="row">
                <p>
                  {{sampleSizeCtrl.q1.query}}
                </p>
              </div>
              <div layout="row">
                <md-radio-group class="md-body-1" ng-model="vm.sizeAnswer1">
                  <md-radio-button value="1">1,000 (0.1%)</md-radio-button>
                  <md-radio-button value="2">10,000 (1%) </md-radio-button>
                  <md-radio-button value="3">100,000 (10%)</md-radio-button>
                  <md-radio-button value="4">500,000 (50%)</md-radio-button>
                </md-radio-group>
              </div>
            </div>
            <div id="size-question-2">
              <div class="content" layout="row">
                <p>
                  Your population size is 1,000,000. In order to have a respectable
                  poll, how large should you make your sample size?
                </p>
              </div>
              <div layout="row">
                <md-radio-group class="md-body-1" ng-model="vm.sizeAnswer2">
                  <md-radio-button value="1">1,000 (0.1%)</md-radio-button>
                  <md-radio-button value="2">10,000 (1%) </md-radio-button>
                  <md-radio-button value="3">100,000 (10%)</md-radio-button>
                  <md-radio-button value="4">500,000 (50%)</md-radio-button>
                </md-radio-group>
              </div>
            </div>
          </div>
        </ms-widget-front>
        <!-- / Front -->

        <!-- Back -->
        <ms-widget-back class="p-16 deep-purple-bg white-fg">
          <div class="flip-to-front">
            <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
              <md-icon md-font-icon="icon-close" class="s16"></md-icon>
            </md-button>
          </div>

          <div>
            {{vm.widget4.detail}}
          </div>
        </ms-widget-back>
        <!-- / Back -->

      </ms-widget>
      <!-- / QUIZ -->
    </div>
  </div>

  <div class="extra-sidebar" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="35">

    <div class="blurb-box info-box md-whiteframe-1dp" layout="column">
      <header class="md-warn-bg md-hue-3" layout="row" layout-align="space-between center">
        <div class="title">Vocabulary</div>
        <div class="more secondary-text">
          <a target="_blank" href="http://stattrek.com/sampling/populations-and-samples.aspx">Link</a>
        </div>
      </header>

      <div class="content">
        <div class="info-line">
          <div class="title">Population:</div>
          <div class="content">Everyone to whom a poll applies.</div>
          <div class="title">Sample:</div>
          <div class="content">The portion of a population which is actually polled.</div>
        </div>
      </div>
    </div>
  </div>

</div>
