.content-page {

    .header {

        .name {
            font-size: 34px;
            color: #FFFFFF;
        }

    }

    .content {

        md-content {
            background-color: transparent;
        }
    }

    .extra-sidebar {
        padding: 8px 8px 8px 32px;


        .groups {

            .content {


            }
        }
    }

    .blurb-box {
        margin-bottom: 16px;

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
            font-size: 15px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        ul.objectives {
          li {
            padding-bottom: 25px;
          }
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }
                .content {
                    padding-top: 0;
                    padding-bottom:  16px;
                    background-color: #FFF;
                    font-size: 15px;

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    .content-page {

        .extra-sidebar {
            padding: 8px;
        }

        .header {

            .name {
                margin-bottom: 32px;
            }
        }
    }

}
