<div layout="column" layout-gt-sm="row" >

  <div  class="sample-size" layout="column" flex="100"
    flex-gt-md="65"
  ng-controller="SampleSizeController as tabCtrl">
    <div class="blurb-box general md-whiteframe-1dp">
      <header class="md-accent-bg md-hue-1">
        <div class="title">Are Big Polls Always Good Polls?</div>
      </header>

      <div class="content">
        <p>
          In the presidential election of 1936, the incumbent Franklin Delano Roosevelt
          was challenged by the Republican governor Alfred Landon.  At that time,
          a popular magazine <em>The Literary Digest</em> had the reputation of
          conducting large-scale public opinion polls.  Over the years it had put
          together a list of people to poll through collecting information from
          phonebooks, magazine subscriptions, automobile registrations, and
          various club roster lists.
          By the time <em>The Literary Digest</em> was ready to poll the nation about the
          1936 election, its list of contact information exceeded <strong>eleven-million</strong>
          entries!
        </p>
        <p>
          And so the magazine mailed over ten-million questionnaires around the
          country.  Everyone who received this in the mail was asked to mark
          their intention to vote for either Roosevelt or Landon, and then mail
          it back to <em>The Literary Digest</em> headquarters. As you would guess,
          many people did not bother the trouble or the postage to return their
          survey -- but those who did numbered over 2,300,000!  This poll became
          one of the largest in history.
        </p>
        <p>
          The results were published a month before the election: Landon would win
          with 57% of the popular vote and an electoral college haul of 370 to 161.
          Due to the stupendously large sample size of their poll, <em>The Literary
          Digest</em> firmly believed that their poll wan confident to
          within a fraction of 1% of the true population opinion.
        </p>
      </div>
    </div>

    <div class="blurb-box general md-whiteframe-1dp">
      <header class="md-accent-bg md-hue-1">
        <div class="title">Boy, Were They Wrong!</div>
      </header>

      <div class="content">
        <p>
          Even if you didn't know this chapter in American history, I bet you
          figured <em>The Literary Digest</em> is not the success of this story.
          As a matter of fact, Roosevelt won the popular vote with 61%, and swept
          the electoral college 523 to 8.  This result was about 17% off from
          the magazine's final prediction (not to mention how tight they calculated
          their confidence interval to be).
        </p>
        <p>
          While printed questionnaires were being mailed back and forth by the
          <em>The Literary Digest</em>, another pollster was attempting to predict
          the election with a sample of about fifty-thousand people.  This man
          was George Gallup.
      </div>
    </div>

    <div layout="row" layout-align="center center">
      <ms-widget class="mb-75" flippable="true" layout="column" flex="100" flex-gt-xs="75">
        <!-- Front -->
        <ms-widget-front class="white-bg">
          <div class="p-16 pb-8 deep-purple-bg white-fg" layout="row" layout-align="space-between center">
            <div class="md-title">
              How big a sample size is big enough?
            </div>
          </div>

          <div class="md-body-1 p-16 pb-8" layout="column" layout-align="space-between" flex>
            <div id="q1">
              <div class="content">
                <p>
                  {{tabCtrl.q1.query}}
                </p>
              </div>
              <div layout="row">
                <div flex="66" flex-xs="50">
                  <md-radio-group class="md-body-1"
                  ng-model="tabCtrl.q1.userAnswer">
                    <md-radio-button
                    ng-repeat="option in tabCtrl.q1.options track by $index"
                    value="{{$index}}"
                    ng-disabled="tabCtrl.isAnswerShown && tabCtrl.q1.userAnswer == tabCtrl.q1.correct">
                    {{option}}
                    </md-radio-button>
                  </md-radio-group>
                </div>
                <div class="mt-20" ng-show="tabCtrl.isAnswerShown && tabCtrl.q1.userAnswer == tabCtrl.q1.correct">
                  <p class="md-display-1 green-bg white-fg p-8">Correct</p>
                </div>
                <div class="mt-20" ng-show="tabCtrl.isAnswerShown && tabCtrl.q1.userAnswer != tabCtrl.q1.correct">
                  <p class="md-display-1 red-bg white-fg p-8">Wrong</p>
                </div>
              </div>
            </div>

            <div id="q2" ng-show="tabCtrl.q1.userAnswer">
              <div class="content">
                <p>
                  {{tabCtrl.q2.query}}
                </p>
              </div>
              <div layout="row">
                <div flex="66" flex-xs="50">
                  <md-radio-group class="md-body-1"
                    ng-model="tabCtrl.q2.userAnswer">
                    <md-radio-button
                      ng-repeat="option in tabCtrl.q2.options track by $index"
                      value="{{$index}}"
                      ng-disabled="tabCtrl.isAnswerShown && tabCtrl.q2.userAnswer == tabCtrl.q2.correct">
                      {{option}}
                    </md-radio-button>
                  </md-radio-group>
                </div>
                <div class="mt-20" ng-show="tabCtrl.isAnswerShown && tabCtrl.q2.userAnswer == tabCtrl.q2.correct">
                  <p class="md-display-1 green-bg white-fg p-8">Correct</p>
                </div>
                <div class="mt-20" ng-show="tabCtrl.isAnswerShown && tabCtrl.q2.userAnswer != tabCtrl.q2.correct">
                  <p class="md-display-1 red-bg white-fg p-8">Wrong</p>
                </div>
              </div>
            </div>

            <md-button ng-show="tabCtrl.q2.userAnswer && !tabCtrl.isAnswerShown" class="md-warn md-hue-2 grey-bg"
                       ng-click="tabCtrl.isAnswerShown = true">
              Check Answer
            </md-button>
            <md-button ng-show="tabCtrl.isAnswerShown" class="md-warn md-hue-2 blue-bg"
                       ng-click="flipWidget()" aria-label="Flip widget">
              Explanation
            </md-button>
          </div>
        </ms-widget-front>
        <!-- / Front -->

        <!-- Back -->
        <ms-widget-back class="p-16 deep-purple-bg white-fg">
          <div class="flip-to-front">
            <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
              <md-icon md-font-icon="icon-close" class="s16"></md-icon>
            </md-button>
          </div>

          <div layout="column" class="md-subhead pt-20" layout-align="space-around start">
            <p >
              Are these sample sizes less than you thought they would be?
            </p>
            <p>
              In each case they are only one-thousand.  But, truth be told, good polls
              often have sample sizes less than one-thousand!  It turns out that
              six-hundred is usually good enough for a national poll.
            </p>
            <p>
              Also, note that it does not matter whether the population is ten-million
              or one-million.  In fact, the simple size of population is not the important
              factor when determining the size of a poll sample!  The listed percentage for
              each sample size was meant to be a red herring.
            </p>
            <p>
              We will explain why this is the case in coming modules.
            </p>
          </div>
        </ms-widget-back>
        <!-- / Back -->

      </ms-widget>
      <!-- / QUIZ -->
    </div>
  </div>
  <div id="lit-digest-pic" class="extra-sidebar" flex="75" flex-gt-sm="35">

      <div class="blurb-box info-box md-whiteframe-1dp">
        <header class="md-warn-bg md-hue-3" layout="row"
          layout-align="space-between center">
          <div class="title">Literary Digest's Follow-Up Issue:</div>
        </header>

        <div class="content">
          <div layout="row" layout-align="space-around center">
            <img src="assets/images/etc/litdig.gif" height="222">
          </div>
        </div>
      </div>
  </div>
</div>
