<div layout="column"  class="tactics" layout-gt-sm="row"
    ng-controller="YAxisController as tabCtrl">

  <div class="main-page-content" flex="100" flex-gt-md="65">
    <div class="blurb-box general md-whiteframe-1dp">
      <header class="md-accent-bg md-hue-1">
        <div class="title">How To Lie With Statistics</div>
      </header>

      <div class="content">
        <p>
	  Perhaps the most famous book on statistics for the layperson is
	  Darrell Huff's 1954 read, <em>How to Lie with Statistics</em>.
	  The book was so-named due to the plentiful techniques the media has
	  to distort, confuse, or otherwise mislead their audience with the use of
	  true stastical data.
        </p>
        <p>
	  The media can lie <strong>with</strong> statistics by presenting
	  polling data in a way that seems to indicate false conclusions.
        </p>
      </div>
    </div>

    <div class="blurb-box general md-whiteframe-1dp">
      <header class="md-accent-bg md-hue-1">
        <div class="title">The infamous Y-Axis</div>
      </header>

      <div class="content">
        <p>
	  One of the most popular (and most simple) way to skew the significance of
	  statistical findings is to present them in a graphical format with an
	  unreasonable y-axis.  By fiddling with the y-axis, news reporters can make
	  the significant difference between two statistics <strong>appear</strong>
	  to be greater, or lesser, depending on where they place the base of the
	  y-axis. 
        </p>
	<p>
	  Take a look at this image from Fox News:
	</p>
	  <img src="assets/images/etc/bush-expire.jpg" />
	 <p>
	<strong>
	  Does the difference between 35% and 39.6% seem larger than it should be?
	</strong>
	</p>
	<p>
	  The issue is that the <strong>y-axis</strong> is too high, which gives
	  the impression that the <strong>relative difference</strong> between these
	  two bars is greater than it actualy is.  A correct graph would look like this:
	</p>
	<img src="assets/images/etc/bush-expire-correct.png" />
      </div>
    </div>

    <div class="blurb-box general md-whiteframe-1dp">
      <header class="md-accent-bg md-hue-1">
        <div class="title">Should the Y-Axis start at Zero, Then?</div>
      </header>
      <div class="content">
        <p>
	  We saw above that Fox News used a tactic to "lie" with stastics.  It made
	  the base of the y-axis so high that a small difference between two categories
	  appeared very large.  Should we conclude that the y-axis should always be zero?
	  No!  The answer to this question always depends on the concrete data.  The real
	  issue is that reports on polls should be sensitive to the surrounding
	  <strong>context</strong>, and not try to isolate one fact from its surrounding
	  situation.
        </p>
	<p>
	  The video below, produced by Vox.com, does a good jox explaining this point:
	</p>
	<div layout="row" layout-align="center center">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/14VYnFhBKcY" frameborder="0" allowfullscreen></iframe>
	</div>
      </div>
    </div>

    <div layout="row" layout-align="center center">
      <ms-widget class="mb-75" flippable="true" layout="column" flex="100" flex-gt-xs="75">
        <!-- Front -->
	        <ms-widget-front class="white-bg">
          <div class="p-16 pb-8 deep-purple-bg white-fg" layout="row" layout-align="space-between center">
            <div class="md-title">
              Hidden references to y-axis values
            </div>
          </div>

          <div class="md-body-1 p-16 pb-8" layout="column" layout-align="space-between" flex>
            <div id="q1">
              <div class="content">
                <p>
                  {{tabCtrl.q1.query}}
                </p>
              </div>
              <div layout="row">
                <div flex="66" flex-xs="50">
                  <md-radio-group class="md-body-1"
                  ng-model="tabCtrl.q1.userAnswer">
                    <md-radio-button
                    ng-repeat="option in tabCtrl.q1.options track by $index"
                    value="{{$index}}"
                    ng-disabled="tabCtrl.isAnswerShown && tabCtrl.q1.userAnswer == tabCtrl.q1.correct">
                    {{option}}
                    </md-radio-button>
                  </md-radio-group>
                </div>
                <div  ng-show="tabCtrl.isAnswerShown && tabCtrl.q1.userAnswer == tabCtrl.q1.correct">
                  <p class="md-display-1 green-bg white-fg p-8">Correct</p>
                </div>
                <div  ng-show="tabCtrl.isAnswerShown && tabCtrl.q1.userAnswer != tabCtrl.q1.correct">
                  <p class="md-display-1 red-bg white-fg p-8">Wrong</p>
                </div>
              </div>
            </div>

            <md-button ng-show="tabCtrl.q1.userAnswer && !tabCtrl.isAnswerShown" class="md-warn md-hue-2 grey-bg"
                       ng-click="tabCtrl.isAnswerShown = true">
              Check Answer
            </md-button>
            <md-button ng-show="tabCtrl.isAnswerShown" class="md-warn md-hue-2 blue-bg"
                       ng-click="flipWidget()" aria-label="Flip widget">
              Explanation
            </md-button>
          </div>
        </ms-widget-front>
        <!-- / Front -->

        <!-- Back -->
        <ms-widget-back class="p-16 deep-purple-bg white-fg">
          <div class="flip-to-front">
            <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
              <md-icon md-font-icon="icon-close" class="s16"></md-icon>
            </md-button>
          </div>

          <div layout="column" class="md-subhead pt-20"
	       layout-align="space-around start">
            <p>
	      This is a case of y-axis shenanigans!  Yes, over twice as many people
	      thought
	      of Hillary Clinton as a "liar" rather "experienced", but this was the
	      difference between 178 and 82.
	      Recall that the poll was taken from 1500 responses.
	    </p>
	    <p> The difference is then: 11% of people thought "liar"
	      while 8% thought "experienced."  This is hardly
	      that significant once you bring into account the y-axis!
	    </p>
           </div>
        </ms-widget-back>
        <!-- / Back -->

      </ms-widget>
      <!-- / QUIZ -->
    </div>
  </div> <!-- / MAIN PAGE CONTENT -->

  <!-- SIDEBAR -->
  <div class="extra-sidebar" flex="75" flex-gt-md="35">

    <div id="bias-vocab" class="blurb-box info-box md-whiteframe-1dp">
      <header class="md-warn-bg md-hue-3" layout="row"
        layout-align="space-between center">
        <div class="title">Vocabulary</div>
        <div class="more secondary-text">

	</div>
      </header>

      <div class="content">
        <p>
	  The <strong>y-axis</strong> is often referred to as the <strong>dependent
	  </strong> variable in a formula.  It is that which is <em>explained</em>
	  by the x-axis, or <strong>independent</strong> variable.
	  Shrinking the x-axis usually does not matter so much, because the x-axis
	  is meant to categorize the real focus of our attention: the y-axis variable.
	</p>
      </div>
    </div>
  </div> <!-- / SIDEBAR -->

</div>
