sample-size-viz {
  .point {
    fill: #999;
    stroke: #fff;

    &.selected {
      fill-opacity: 1;
      stroke: brown;

      &.red {
        fill: red;
      }

      &.blue {
        fill: blue;
      }
    }
  }

  .brush {

    .extent {
      stroke: #fff;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
  }

}
